/* Google font raleway and inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap")


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.raleway {
  font-family:"Raleway", sans-serif;
  font-optical-sizing: auto;

}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto; 
}

.bground{
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('./images/banner.png');
    border-radius: 32px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position:center;
   
}

th , td{
  text-align: center;
}

thead{
  border-bottom: .5px dashed black;
}